<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FlightWebApp</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-person" aria-hidden="true"></span> User
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="flight">
                <span class="bi bi-airplane-fill" aria-hidden="true"></span> Flight
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Seats">
                <span class="bi bi-aiirplane-engines-fill" aria-hidden="true"></span> Reserve seat
            </NavLink>
        </div>
    </nav>
</div>

