body[b-rjgs3pnhpf] {
    background-color: #1570EF;
    margin: 0;
    font-family: Arial, sans-serif;
}

.LoginBox[b-rjgs3pnhpf] {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
}

    .LoginBox h3[b-rjgs3pnhpf] {
        color: black;
        margin-bottom: 20px;
    }

    .LoginBox p[b-rjgs3pnhpf] {
        align-self: flex-start;
        margin: 5px 0 0 5px;
    }

    .LoginBox input[b-rjgs3pnhpf] {
        border-radius: 20px;
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px 0;
        width: 100%;
        max-width: 300px;
    }

    .LoginBox button[b-rjgs3pnhpf] {
        color: white;
        background-color: #1570EF;
        border: none;
        padding: 10px 20px;
        border-radius: 20px;
        margin-top: 20px;
        cursor: pointer;
    }
